body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%; 
    font-weight: normal;
}
/* Профессиональные разработчики убирают начальные настройки, чтобы контролировать отступы и размеры */

button {
    background-color: black;
    color: white;
}

h1 {
    text-transform: uppercase;
    /* Переводит текст в верхний регистр */
    margin-top: 10px;
    padding-top: 20px;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 10px;
    /* отступ между буквами */
}

img {
    width: 230px;
    margin-bottom: 20px;
}

div {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    width: 500px;
    margin: auto;
    /* Браузер сам выбирает отступы */
    text-align: center;
}

a {
    text-decoration: none;
}
/* Убирает стандартное подчеркивание у ссылок */ 

p {
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
}
